


header {
    background-color: lightblue;
    height: 100vh;
    
    button {
        background-color: $primaryButton;
        color: $textColor;
        &::after {
            content: 'Helllooooooooooooo';
        }
    }
}